@import "vars";

:host {
    position: absolute;
    transform: translate(50%, 50%);

    bottom: 0;
    right: 0;

    z-index: 1000;
}

.dropdown__wrapper {
    position: relative;

    width: 200vw;
    height: 200vh;

    cursor: default;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);

    width: 250px;
    padding: 4px 0;

    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);

    background-color: #fff;
}

.item {
    width: 100%;
    height: 32px;
    padding: 4px 10px;

    display: flex;

    cursor: pointer;
    &:hover {
        background-color: #f3f3f3;
    }
}

.item__text {
    font-size: 0.8125em;
    font-family: $gFont;
    color: #333;

    margin-left: 10px;

    display: flex;
    align-items: center;
}

.bar {
    width: 100%;
    height: 1px;
    background-color: #ddd;

    margin: 4px 0;
}

.section {
    width: 100%;
    padding: 4px 10px;
}

.sec__title {
    font-size: 0.6875em;
    font-family: $gFont;
    color: #202020;

    margin-bottom: 10px;
}

.icon__list {
    display: flex;
}

.icon__item {
    margin-right: 10px;
    border-radius: 3px;

    cursor: pointer;
    &:hover {
        background-color: #f3f3f3;
    }
}

svg-drop-sec-priority {
    border: 1px solid #fff;

    &._active {
        border: 1px solid #ddd;
    }
}

// svg components sizes

.wh-24 {
    width: 24px;
    height: 24px;
}

.wh-26 {
    width: 26px;
    height: 26px;
}

.wh-28 {
    width: 28px;
    height: 28px;
}
