<div *ngIf="isVisible" class="dropdown__wrapper" (click)="close(); $event.stopPropagation()">
    <div #menuView class="menu" (click)="$event.stopPropagation()">
        <ng-container *ngFor="let dropdownItem of dropdownSchema">
            <ng-container *ngIf="checkForFieldType(dropdownItem)">
                <div class="item" (click)="$event.stopPropagation(); itemClickEvent.emit(dropdownItem.iconType); close()">
                    <ng-container [ngSwitch]="dropdownItem.iconType">
                        <svg-drop-add-above *ngSwitchCase="'ADD_ABOVE'" class="wh-24"></svg-drop-add-above>
                        <svg-drop-add-below *ngSwitchCase="'ADD_BELOW'" class="wh-24"></svg-drop-add-below>
                        <svg-drop-go-to *ngSwitchCase="'GO_TO'" class="wh-24"></svg-drop-go-to>
                        <svg-drop-edit *ngSwitchCase="'EDIT'" class="wh-24"></svg-drop-edit>
                        <svg-drop-favorites *ngSwitchCase="'FAVORITES'" class="wh-24"></svg-drop-favorites>
                        <svg-drop-add-section *ngSwitchCase="'ADD_SECTION'" class="wh-24"></svg-drop-add-section>
                        <svg-drop-move-to *ngSwitchCase="'MOVE_TO'" class="wh-24"></svg-drop-move-to>
                        <svg-drop-archive *ngSwitchCase="'ARCHIVE'" class="wh-24"></svg-drop-archive>
                        <svg-drop-delete *ngSwitchCase="'DEL'" class="wh-24"></svg-drop-delete>
                        <svg-drop-show-tasks *ngSwitchCase="'SHOW_TASK'" class="wh-24"></svg-drop-show-tasks>
                        <svg-drop-hide-tasks *ngSwitchCase="'HIDE_TASK'" class="wh-24"></svg-drop-hide-tasks>
                    </ng-container>

                    <div class="item__text">{{ dropdownItem.text }}</div>
                </div>
            </ng-container>
            <ng-container *ngIf="checkForBarType(dropdownItem)">
                <div class="bar"></div>
            </ng-container>
            <ng-container *ngIf="checkForScheduleType(dropdownItem)">
                <div class="section">
                    <div class="sec__title">Schedule</div>

                    <div class="icon__list">
                        <svg-drop-sec-today class="icon__item wh-28"></svg-drop-sec-today>
                        <svg-drop-sec-tomorrow class="icon__item wh-28"></svg-drop-sec-tomorrow>
                        <svg-drop-sec-later-week class="icon__item wh-28"></svg-drop-sec-later-week>
                        <svg-drop-sec-this-weekend class="icon__item wh-28"></svg-drop-sec-this-weekend>
                        <svg-drop-sec-next-week class="icon__item wh-28"></svg-drop-sec-next-week>
                        <svg-drop-sec-no-date class="icon__item wh-28"></svg-drop-sec-no-date>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="checkForPriorityType(dropdownItem)">
                <div class="section">
                    <div class="sec__title">Priority</div>

                    <div class="icon__list">
                        <svg-drop-sec-priority
                            *ngFor="let priority of priorityList"
                            class="icon__item wh-26"
                            [ngClass]="{ _active: priority === dropdownItem.priority }"
                            [prior]="priority"
                            (click)="$event.stopPropagation(); setPriority(priority, dropdownItem)"
                        ></svg-drop-sec-priority>
                        <!-- todo : check for stopPropagation problem :) -->
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
