<div class="main">
    <div class="field">
        <div class="title">Photo</div>

        <div class="content">
            <img class="avatar" src="https://avatars.githubusercontent.com/u/56691133?v=4" alt="" />

            <div class="photo__settings">
                <div class="h17px"></div>
                <div class="btns__wrapper">
                    <ui-button styleCls="mr10 white">Change photo</ui-button>
                    <ui-button styleCls="red">Remove photo</ui-button>
                </div>
                <div class="photo__size">Pick a photo up to 4MB.</div>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="title">Name</div>

        <div class="content">
            <input class="input__text" type="text" />
        </div>
    </div>

    <div class="field">
        <div class="title">Email</div>

        <div class="content _column">
            <div class="text">ionutmitu68@gmail.com</div>

            <ui-button styleCls="white" (clickEvent)="changeEmail()">Change Email</ui-button>
        </div>
    </div>

    <div class="field">
        <div class="title">Password</div>

        <div class="content _column">
            <ui-button styleCls="white" (clickEvent)="changePassword()">Change Password</ui-button>
        </div>
    </div>

    <div class="bar__w100"></div>

    <div class="field">
        <div class="title">Permanently delete account</div>

        <div class="content _column">
            <div class="text">
                This will immediately delete all of your data including tasks, projects, comments, and more. This can’t
                be undone.
            </div>

            <ui-button styleCls="red" (clickEvent)="deleteAccount()">Permanently delete account</ui-button>
        </div>
    </div>
</div>
