<div class="main">
    <div class="field">
        <div class="content _column">
            <div class="text">Personalize your Todoist with colors to match your style, mood, and personality.</div>
            <label class="check__label" for="">
                <input class="input__check" type="checkbox" id="" />
                <div class="check__text">Sync theme</div>
            </label>
            <label class="check__label" for="">
                <input class="input__check" type="checkbox" id="" />
                <div class="check__text">Auto Dark Mode</div>
            </label>
            <div class="text _gray">Automatically switch between light and dark themes when your system does.</div>
        </div>
    </div>

    <div class="field">
        <div class="title">Your themes</div>

        <div class="content _themes">
            <svg-st-default></svg-st-default>
            <svg-st-noir></svg-st-noir>
            <svg-st-dark></svg-st-dark>
            <svg-st-neutral></svg-st-neutral>
            <svg-st-tangerine></svg-st-tangerine>
        </div>
    </div>
</div>
