<div class="task">
    <label class="check__label" [for]="taskData.taskID">
        <input class="hidden__checkbox" type="checkbox" name="" [id]="taskData.taskID" (change)="taskData.isChecked = !taskData.isChecked" />

        <div [class]="'custom__check' + ' p' + taskData.priority" [ngClass]="{ _active: taskData.isChecked }">
            <svg-wp-tick *ngIf="taskData?.isChecked" [activeWhite]="taskData.priority !== 4"></svg-wp-tick>
        </div>
    </label>
    <!-- checkbox label -->

    <div class="task__main">
        <div class="task__text">{{ taskData?.taskName }}</div>

        <div class="task__desc">{{ taskData?.taskDescription }}</div>

        <!-- todo : do tasklate functional -->
        <!-- <div class="task__late">
            <svg-wp-task-late></svg-wp-task-late>

            <div class="task_late__text">15 Oct</div>
        </div> -->
    </div>

    <div class="icons__container" [ngClass]="{ _visible: areControlsVisible }">
        <div class="icon__wrapper">
            <svg-wp-task-edit></svg-wp-task-edit>
        </div>

        <div class="icon__wrapper">
            <svg-wp-task-schedule></svg-wp-task-schedule>
        </div>

        <div class="icon__wrapper" (click)="dropMenu.toggleIsVisible(); areControlsVisible = true">
            <svg-wp-task-more></svg-wp-task-more>

            <ui-menu-dropdown
                #dropMenu
                class="more__dropdown"
                [dropdownSchema]="dropdownSchema"
                (changePriorityEvent)="setPriority($event)"
                (closeEvent)="areControlsVisible = false"
            ></ui-menu-dropdown>
        </div>
    </div>

    <svg-wp-task-drag></svg-wp-task-drag>

    <div class="bottom__bar"></div>
</div>
