@import 'vars';

.task {
    display: flex;

    position: relative;

    &:hover {
        & .icons__container {
            display: flex;
        }

        & svg-wp-task-drag {
            opacity: 1;
        }
    }
}

.check__label {
    margin: 10px 6px 0 0;
}

.hidden__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom__check {
    height: 18px;
    width: 18px;

    position: relative;

    border: 1px solid #808080;
    border-radius: 50%;

    cursor: pointer;

    &.p1 {
        border: 2px solid #d1453b;
        & svg-wp-tick {
            top: -4px;
            left: -5.5px;
        }
        &._active {
            background-color: #d1453b !important;
        }
        &:hover {
            background-color: #faeceb;
        }
    }
    &.p2 {
        border: 2px solid #eb8909;
        & svg-wp-tick {
            top: -4px;
            left: -5.5px;
        }
        &._active {
            background-color: #eb8909 !important;
        }
        &:hover {
            background-color: #fdf3e6;
        }
    }
    &.p3 {
        border: 2px solid #246fe0;
        & svg-wp-tick {
            top: -4px;
            left: -5.5px;
        }
        &._active {
            background-color: #246fe0 !important;
        }
        &:hover {
            background-color: #e9f0fc;
        }
    }

    &:hover {
        background-color: #ececec;
    }
}

.task__main {
    width: 100%;

    padding: 10px 0;
    display: flex;
    flex-direction: column;

    margin-left: 2px;
}

.task__text {
    font-family: $gFont;
    color: #202020;
    font-size: 0.8em;
}

.task__desc {
    font-family: $gFont;
    color: #808080;
    font-size: 0.75em;
}

.aditional__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 18px;
}

.flex__container {
    display: flex;
    align-items: center;
}

.info__label {
    display: flex;
    align-items: center;

    margin-right: 8px;
}

.info__label__text {
    font-family: $gFont;
    font-size: 0.75em;
    margin-left: 2px;
}

.project__info {
    display: flex;
    align-items: center;
}

.info__project__text {
    font-family: $gFont;
    font-size: 0.75em;
    color: #808080;
}

.task__late {
    display: flex;
    align-items: center;

    margin-top: 5px;
}

.task_late__text {
    font-family: $gFont;
    font-size: 0.75em;
    margin-left: 2px;

    color: #d1453b;
}

.icons__container {
    align-items: center;

    position: absolute;
    top: 7px;
    right: 0;

    display: none;

    &._visible {
        display: flex;
    }
}

.icon__wrapper {
    display: flex;
    margin: 0 4px;

    position: relative;
}

.more__dropdown {
    bottom: 0;
    right: 50px;
}

.bottom__bar {
    width: 100%;
    height: 1px;

    background-color: #f0f0f0;

    position: absolute;
    bottom: 0;
    right: 0;
}

// svg positions | sizes

svg-wp-tick {
    width: 18px;
    height: 18px;

    position: absolute;
    top: -3.5px;
    left: -4.5px;
}

// todo : to atomic
// atomic css

.mr3 {
    margin-right: 3px;
}

.wh-12 {
    width: 12px;
    height: 12px;
}

.wh-14 {
    width: 14px;
    height: 14px;
}

.wh-18 {
    width: 18px;
    height: 18px;
}

svg-wp-task-edit,
svg-wp-task-schedule,
svg-wp-task-more {
    width: 24px;
    height: 24px;
}

svg-wp-task-drag {
    width: 24px;
    height: 24px;

    position: absolute;
    top: 7px;
    left: -35px;

    opacity: 0;
}
