<div *ngIf="isVisible" class="dropdown__wrapper" (click)="close(); $event.stopPropagation()">
    <div #menuView class="menu" (click)="$event.stopPropagation()">
        <div *ngFor="let priorityEL of priorityList" class="item" (click)="changePriority(priorityEL); $event.stopPropagation()">
            <div class="flex__container">
                <svg-drop-sec-priority class="wh-24" [prior]="priorityEL" [_description]="false"></svg-drop-sec-priority>
                <div class="item__text">Priority {{ priorityEL }}</div>
            </div>
            <div *ngIf="priority === priorityEL" class="flex__container">
                <svg-drop-sec-tick class="wh-16"></svg-drop-sec-tick>
            </div>
        </div>
    </div>
</div>
