<div class="header">
    <div class="container">
        <svg-header-menu (click)="toggleMenuIsClosed()" class="icon__wrapper"></svg-header-menu>

        <svg-header-home class="icon__wrapper"></svg-header-home>

        <app-search></app-search>
    </div>
    <div class="container">
        <svg-header-add class="icon__wrapper"></svg-header-add>

        <svg-header-help class="icon__wrapper"></svg-header-help>

        <svg-header-bell class="icon__wrapper"></svg-header-bell>

        <!-- todo : check -->
        <div class="ava__wrapper">
            <img class="header__ava" src="https://avatars.githubusercontent.com/u/56691133?v=4" alt="X" />
        </div>
    </div>
</div>
