<div class="main__place">
    <div class="type__list">
        <app-list-header [title]="'Inbox'" [editableTitle]="false"></app-list-header>
        <!-- list header -->

        <app-list-task></app-list-task>
        <app-list-task></app-list-task>
        <app-list-task></app-list-task>
        <app-list-task></app-list-task>
        <app-list-add-task></app-list-add-task>

        <app-list-sub-list></app-list-sub-list>
        <app-list-add-section></app-list-add-section>

        <app-list-sub-list></app-list-sub-list>

        <app-list-add-section></app-list-add-section>
    </div>
    <!-- list -->
</div>
