<div class="main__place">
    <div class="type__list">
        <div class="list__header">
            <div class="lh__container">
                <div class="lh__title">Inbox</div>
            </div>

            <div class="lh__container">
                <div class="lhi__wrapper">
                    <svg-wp-view></svg-wp-view>

                    <div class="lhi__text">View</div>
                </div>
                <div class="lhi__wrapper">
                    <svg-wp-more></svg-wp-more>
                </div>
            </div>
        </div>
        <!-- list header -->

        <app-list-task></app-list-task>
        <app-list-task></app-list-task>
        <app-list-task></app-list-task>
        <app-list-task></app-list-task>
        <app-list-add-task></app-list-add-task>

        <app-list-sub-list></app-list-sub-list>
        <app-list-add-section></app-list-add-section>

        <app-list-sub-list></app-list-sub-list>

        <app-list-add-section></app-list-add-section>
    </div>
    <!-- list -->
</div>
