<div class="page__wrapper">
    <form class="auth__standalone">
        <div class="standalone__title">Forgot Password?</div>

        <div class="info__message">To set a new password, enter your Todoist account email address.</div>

        <div class="field">
            <label for="regEmailID">
                <div class="field__title">Email</div>
                <input class="field__input" type="text" name="" id="regEmailID" />
            </label>
        </div>
        <input class="button__submit" type="submit" value="Remove Password" />

        <div class="bar"></div>

        <div class="field__flex">
            <div class="bottom__text">
                <a [routerLink]="['/auth/signIn']" class="bottom__link">Enter in System</a>
            </div>
        </div>
    </form>
</div>
