<div class="tasks__list__header">
    <ng-container *ngIf="!isChangingTitle; else taskEditor">
        <div class="tl__title" (click)="toggleIsChangingTitle(true)">{{ title }}</div>

        <svg-wp-header-arrow [isClosed]="isClosed$ | async" (onClickEvent)="toggleIsClosed()"></svg-wp-header-arrow>

        <div class="tl__icons__container">
            <div class="tli__wrapper">
                <svg-wp-header-more></svg-wp-header-more>
            </div>
        </div>
    </ng-container>

    <ng-template #taskEditor>
        <div class="pltlas__main">
            <input class="pltlasm__input" type="text" #titleInput [value]="title" placeholder="Name this section" />

            <div class="te__buttons__wrapper">
                <app-button styleCls="black mr10" (clickEvent)="saveTitle(titleInput.value)">Save</app-button>
                <app-button styleCls="white" (clickEvent)="toggleIsChangingTitle(false)">Cancel</app-button>
            </div>
        </div>
    </ng-template>
    <!-- change title -->

    <div class="bottom__bar"></div>
</div>

<div *ngIf="!(isClosed$ | async)" class="task__list">
    <app-list-task></app-list-task>

    <app-list-add-task></app-list-add-task>
</div>
