<div class="main__place">
    <div class="type__list">
        <div class="list__header">
            <div class="lh__container">
                <div class="lh__title">Today</div>
                <div class="lh__date">Fri 14 Jan</div>
            </div>

            <div class="lh__container">
                <div class="lhi__wrapper">
                    <app-mp-view></app-mp-view>

                    <div class="lhi__text">View</div>
                </div>
                <div class="lhi__wrapper">
                    <app-mp-more></app-mp-more>
                </div>
            </div>
        </div>
        <!-- list header -->

        <div class="pltl__header">
            <!-- <div class="pltlh__title">Overdue</div>

            <svg class="pltlh__arrow">
                <path
                    fill="none"
                    stroke="currentColor"
                    d="M16 10l-4 4-4-4"
                ></path>
            </svg> -->

            <!-- <div class="pltli__container">
                <div class="pltlh__icon__wrapper">
                    <svg class="pltl__icon more" stroke="#808080">
                        <g
                            fill="none"
                            stroke-linecap="round"
                            transform="translate(3 10)"
                        >
                            <circle cx="2" cy="2" r="2"></circle>
                            <circle cx="9" cy="2" r="2"></circle>
                            <circle cx="16" cy="2" r="2"></circle>
                        </g>
                    </svg>
                </div>
            </div> -->

            <div class="pltlas__main">
                <input
                    class="pltlasm__input"
                    type="text"
                    placeholder="Name this section"
                />

                <div class="te__buttons__wrapper">
                    <app-button styleCls="black">Save</app-button>
                    <app-button styleCls="white">Cancel</app-button>
                </div>
            </div>
            <!-- change title -->

            <div class="bottom__bar"></div>
        </div>

        <div class="task__list">
            <app-list-task></app-list-task>

            <app-list-add-task></app-list-add-task>
        </div>
    </div>
    <!-- list -->
</div>
