<div class="main">
    <div class="field">
        <div class="content">
            <div class="text">
                Update the email you use for your TodoNoist account. Your email is currently
                <span class="bold">ionutmitu68@gmail.com</span>.
            </div>
        </div>
    </div>

    <div class="field">
        <div class="title">New email</div>

        <div class="content">
            <input class="input__text" type="text" />
        </div>
    </div>

    <div class="field">
        <div class="title">Confirm new email</div>

        <div class="content">
            <input class="input__text" type="text" />
        </div>
    </div>

    <div class="field">
        <div class="title">TodoNoist password <a class="link red" href="#">Forgot password?</a></div>

        <div class="content">
            <div class="input__pass__wrapper">
                <input class="input__password" [attr.type]="passIsVisible ? 'text' : 'password'" />

                <svg-close-eye
                    *ngIf="!passIsVisible"
                    (click)="passIsVisible = !passIsVisible"
                    class="pass__eye close"
                ></svg-close-eye>
                <svg-open-eye
                    *ngIf="passIsVisible"
                    (click)="passIsVisible = !passIsVisible"
                    class="pass__eye open"
                ></svg-open-eye>
            </div>
        </div>
    </div>
</div>
