@import 'vars';

:host {
    width: 100%;
    height: 100%;
}

.main__place {
    width: 100%;
    height: 100%;

    background-color: #fff;

    position: relative;

    padding: 50px;
}

.type__list {
    max-width: 800px;
    margin: 0 auto;
}
