<div class="left__menu" [ngClass]="{ _closed: (leftMenuQuery.collapsed$ | async) === false }">
    <a class="main__tab" routerLink="/workspace/inbox">
        <svg-lm-inbox class="wh-24" styleCls="blue"></svg-lm-inbox>
        <div class="tab__title">Inbox</div>
        <div class="tab__num _gray">10</div>
    </a>

    <!-- routerLink="/workspace/today" -->
    <a class="main__tab _unavailable">
        <svg-lm-today class="wh-24"></svg-lm-today>
        <div class="tab__title">Today</div>
        <div class="tab__num _red">7</div>
    </a>

    <div class="main__tab _unavailable">
        <svg-lm-upcoming class="wh-24"></svg-lm-upcoming>
        <div class="tab__title">Upcoming</div>
    </div>

    <div class="group__wrapper" [ngClass]="activeLabels['favorites'] ? '_active' : ''">
        <div class="menu__group_tab" (click)="classActive('favorites')">
            <div class="menu__group_tab__arrow"></div>
            <div class="menu__group_tab__text">Favorites</div>
        </div>

        <div class="menu__proj__wrapper">
            <div *ngFor="let item of favorites" class="menu__proj">
                <svg-lm-dot *ngIf="item.type === 'project'" class="item__icon wh-24" [styleCls]="item.colorCls"></svg-lm-dot>
                <svg-lm-label *ngIf="item.type === 'label'" class="item__icon wh-24" [styleCls]="item.colorCls"></svg-lm-label>
                <svg-lm-filter *ngIf="item.type === 'filter'" class="item__icon wh-24" [styleCls]="item.colorCls"></svg-lm-filter>

                <div class="menu__proj__title">{{ item.name }}</div>
                <div class="menu__proj__num _gray">{{ item._todoTasks }}</div>

                <svg-lm-more class="item__more" (click)="dropMenu.toggleIsVisible(); $event.stopPropagation()"></svg-lm-more>
                <ui-menu-dropdown #dropMenu class="lm__dropdown"></ui-menu-dropdown>

                <!-- <svg-lm-drag class="item__drag wh-20"></svg-lm-drag> -->
            </div>
        </div>
        <!-- favorites ngFor -->
    </div>
    <!-- Favorits | group wrapper -->

    <div class="group__wrapper" [ngClass]="activeLabels['projects'] ? '_active' : ''">
        <div class="menu__group_tab" (click)="classActive('projects')">
            <div class="menu__group_tab__arrow"></div>
            <div class="menu__group_tab__text">Projects</div>

            <a [routerLink]="[{ outlets: { modals: 'addProject' } }]" [skipLocationChange]="true" (click)="$event.stopPropagation()"
                ><svg-lm-plus class="item__plus wh-22"></svg-lm-plus
            ></a>
        </div>

        <div class="menu__proj__wrapper">
            <div *ngFor="let project of projectsQuery.projects$ | async" (click)="navTo('/workspace/project/' + project.id)" class="menu__proj">
                <svg-lm-dot class="item__icon wh-24" [styleCls]="project.colorCls"></svg-lm-dot>

                <div class="menu__proj__title">{{ project.title }}</div>
                <div class="menu__proj__num _gray">{{ project.todoTasks }}</div>

                <svg-lm-more class="item__more" (click)="dropMenu.toggleIsVisible(); $event.stopPropagation()"></svg-lm-more>
                <ui-menu-dropdown #dropMenu class="lm__dropdown"></ui-menu-dropdown>

                <!-- <svg-lm-drag class="item__drag wh-20"></svg-lm-drag> -->
            </div>
        </div>
        <!-- projects ngFor -->
    </div>
    <!-- Projects | group wrapper -->

    <div class="group__wrapper" [ngClass]="activeLabels['labels'] ? '_active' : ''">
        <div class="menu__group_tab" (click)="classActive('labels')">
            <div class="menu__group_tab__arrow"></div>
            <div class="menu__group_tab__text">Labels</div>

            <a [routerLink]="[{ outlets: { modals: 'addLabel' } }]" [skipLocationChange]="true" (click)="$event.stopPropagation()"
                ><svg-lm-plus class="item__plus wh-22"></svg-lm-plus
            ></a>
        </div>

        <div class="menu__proj__wrapper">
            <div *ngFor="let label of labelsQuery.labels$ | async" (click)="navTo('/workspace/label/' + label.id)" class="menu__proj">
                <svg-lm-label class="item__icon wh-24" [styleCls]="label.colorCls"></svg-lm-label>

                <div class="menu__proj__title">{{ label.name }}</div>
                <div class="menu__proj__num _gray">173</div>

                <svg-lm-more class="item__more" (click)="dropMenu.toggleIsVisible(); $event.stopPropagation()"></svg-lm-more>
                <ui-menu-dropdown #dropMenu class="lm__dropdown"></ui-menu-dropdown>

                <!-- <svg-lm-drag class="item__drag wh-20"></svg-lm-drag> -->
            </div>
        </div>
        <!-- labels ngFor -->
    </div>
    <!-- Labels | group wrapper -->

    <div class="group__wrapper" [ngClass]="activeLabels['filters'] ? '_active' : ''">
        <div class="menu__group_tab" (click)="classActive('filters')">
            <div class="menu__group_tab__arrow"></div>
            <div class="menu__group_tab__text">Filters</div>

            <a [routerLink]="[{ outlets: { modals: 'addFilter' } }]" [skipLocationChange]="true" (click)="$event.stopPropagation()"
                ><svg-lm-plus class="item__plus wh-22"></svg-lm-plus
            ></a>
        </div>

        <div class="menu__proj__wrapper">
            <div *ngFor="let filter of filters; let i = index" (click)="navTo('/workspace/filter/' + i)" class="menu__proj">
                <svg-lm-filter class="item__icon wh-24" [styleCls]="filter.colorCls"></svg-lm-filter>

                <div class="menu__proj__title">{{ filter.name }}</div>
                <div class="menu__proj__num _gray">{{ filter._todoTasks }}</div>

                <svg-lm-more class="item__more" (click)="dropMenu.toggleIsVisible(); $event.stopPropagation()"></svg-lm-more>
                <ui-menu-dropdown #dropMenu class="lm__dropdown"></ui-menu-dropdown>

                <!-- <svg-lm-drag class="item__drag wh-20"></svg-lm-drag> -->
            </div>
        </div>
        <!-- filters ngFor -->
    </div>
    <!-- Filters | group wrapper -->

    <div class="resize__bar _unavailable"></div>
</div>
