@import "vars";

button {
    padding: 8px 10px;

    font-family: $gFont;
    font-weight: 600;
    font-size: 0.8em;

    cursor: pointer;
    border-radius: 3px;
    margin: 0 5px;

    &.black {
        background-color: #3d3d3d;
        color: white;
        border: 1px solid #3d3d3d;
    }

    &.white {
        background-color: #fff;
        color: black;
        border: 1px solid #ddd;

        &:hover {
            background-color: #eee;
        }
    }

    &.disabled {
        & {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}
