<div class="menu">
    <div class="item">
        <svg-drop-add-above class="wh-24"></svg-drop-add-above>
        <div class="item__text">Add project above</div>
    </div>
    <div class="item">
        <svg-drop-add-below class="wh-24"></svg-drop-add-below>
        <div class="item__text">Add project above</div>
    </div>

    <div class="bar"></div>

    <div class="item">
        <svg-drop-edit class="wh-24"></svg-drop-edit>
        <div class="item__text">Edit project</div>
    </div>
    <div class="item">
        <svg-drop-favorites class="wh-24"></svg-drop-favorites>
        <div class="item__text">Add to favorites</div>
    </div>

    <div class="bar"></div>
    <!--  -->

    <div class="section">
        <div class="sec__title">Schedule</div>

        <div class="icon__list">
            <svg-drop-sec-today class="icon__item wh-28"></svg-drop-sec-today>
            <svg-drop-sec-tomorrow class="icon__item wh-28"></svg-drop-sec-tomorrow>
            <svg-drop-sec-later-week class="icon__item wh-28"></svg-drop-sec-later-week>
            <svg-drop-sec-this-weekend class="icon__item wh-28"></svg-drop-sec-this-weekend>
            <svg-drop-sec-next-week class="icon__item wh-28"></svg-drop-sec-next-week>
            <svg-drop-sec-no-date class="icon__item wh-28"></svg-drop-sec-no-date>
        </div>
    </div>

    <div class="section">
        <div class="sec__title">Priority</div>

        <div class="icon__list">
            <svg-drop-sec-priority class="icon__item wh-26" [prior]="1"></svg-drop-sec-priority>
            <svg-drop-sec-priority class="icon__item wh-26" [prior]="2"></svg-drop-sec-priority>
            <svg-drop-sec-priority class="icon__item wh-26 _active" [prior]="3"></svg-drop-sec-priority>
            <svg-drop-sec-priority class="icon__item wh-26" [prior]="4"></svg-drop-sec-priority>
        </div>
    </div>

    <!--  -->
    <div class="bar"></div>

    <div class="item">
        <svg-drop-add-section class="wh-24"></svg-drop-add-section>
        <div class="item__text">Add section</div>
    </div>
    <div class="item">
        <svg-drop-show-tasks class="wh-24"></svg-drop-show-tasks>
        <div class="item__text">Show completed tasks</div>
    </div>
    <div class="item">
        <svg-drop-hide-tasks class="wh-24"></svg-drop-hide-tasks>
        <div class="item__text">Hide completed tasks</div>
    </div>
    <div class="item">
        <svg-drop-move-to class="wh-24"></svg-drop-move-to>
        <div class="item__text">Move to project</div>
    </div>

    <div class="bar"></div>

    <div class="item">
        <svg-drop-archive class="wh-24"></svg-drop-archive>
        <div class="item__text">Archive project</div>
    </div>
    <div class="item">
        <svg-drop-delete class="wh-24"></svg-drop-delete>
        <div class="item__text">Delete project</div>
    </div>
</div>
