<div class="main__wrapper">
    <div class="tasks__list__header">
        <ng-container *ngIf="!isChangingTitle; else taskEditor">
            <div class="tl__title" (click)="isChangingTitle = true">{{ title }}</div>

            <svg-wp-header-arrow [isClosed]="isClosed$ | async" (onClickEvent)="toggleIsClosed()"></svg-wp-header-arrow>

            <div class="tl__icons__container" (click)="dropMenu.toggleIsVisible()">
                <div class="tli__wrapper">
                    <svg-wp-header-more></svg-wp-header-more>

                    <app-menu-dropdown
                        #dropMenu
                        class="more__dropdown"
                        [addAbove]="true"
                        [addBelow]="true"
                        [edit]="true"
                        [archive]="true"
                        [del]="true"
                        [schedule]="true"
                        [priority]="true"
                    ></app-menu-dropdown>
                </div>
            </div>
        </ng-container>

        <ng-template #taskEditor>
            <div class="pltlas__main">
                <input class="pltlasm__input" type="text" #titleInput [value]="title" placeholder="Name this section" />

                <div class="te__btns__wrapper">
                    <ui-button styleCls="black mr10" (clickEvent)="saveTitle(titleInput.value)">Save</ui-button>
                    <ui-button styleCls="white" (clickEvent)="isChangingTitle = false">Cancel</ui-button>
                </div>
            </div>
        </ng-template>
        <!-- change title -->

        <div class="bottom__bar"></div>
    </div>

    <div *ngIf="!(isClosed$ | async)" class="task__list">
        <app-list-task></app-list-task>

        <app-list-add-task></app-list-add-task>
    </div>
</div>
