<div class="main__wrapper">
    <div class="header">
        <ng-container *ngIf="!isChangingTitle; else titleEditor">
            <div class="title" (click)="isChangingTitle = true">{{ title }}</div>

            <svg-wp-header-arrow [isClosed]="isClosed$ | async" (clickEvent)="toggleIsClosed()"></svg-wp-header-arrow>

            <div class="icons__container" (click)="dropMenu.toggleIsVisible()">
                <div class="icon__wrapper">
                    <svg-wp-header-more></svg-wp-header-more>

                    <ui-menu-dropdown
                        #dropMenu
                        class="more__dropdown"
                        [addAbove]="true"
                        [addBelow]="true"
                        [edit]="true"
                        [archive]="true"
                        [del]="true"
                        [schedule]="true"
                        [priority]="true"
                    ></ui-menu-dropdown>
                </div>
            </div>
        </ng-container>

        <ng-template #titleEditor>
            <div class="title__editor">
                <input class="editor__input" type="text" #titleInput [value]="title" placeholder="Name this section" />

                <div class="btns__wrapper">
                    <ui-button styleCls="black mr10" (clickEvent)="saveTitle(titleInput.value)">Save</ui-button>
                    <ui-button styleCls="white" (clickEvent)="isChangingTitle = false">Cancel</ui-button>
                </div>
            </div>
        </ng-template>
        <!-- change title -->

        <div class="bottom__bar"></div>
    </div>

    <div *ngIf="(isClosed$ | async) === false" class="task__list">
        <app-list-task></app-list-task>

        <app-list-add-task></app-list-add-task>
    </div>
</div>
