.berryRed {
    fill: rgb(184, 37, 95);
}
.red {
    fill: rgb(219, 64, 53);
}
.orange {
    fill: rgb(255, 153, 51);
}
.yellow {
    fill: rgb(250, 208, 0);
}
.oliveGreen {
    fill: rgb(175, 184, 59);
}
.limeGreen {
    fill: rgb(126, 204, 73);
}
.green {
    fill: rgb(41, 148, 56);
}
.mintGreen {
    fill: rgb(106, 204, 188);
}
.teal {
    fill: rgb(21, 143, 173);
}
.skyBlue {
    fill: rgb(21, 143, 173);
}
.lightBlue {
    fill: rgb(150, 195, 235);
}
.blue {
    fill: rgb(64, 115, 255);
}
.grape {
    fill: rgb(136, 77, 255);
}
.violet {
    fill: rgb(175, 56, 235);
}
.lavender {
    fill: rgb(235, 150, 235);
}
.magenta {
    fill: rgb(224, 81, 148);
}
.salmon {
    fill: rgb(255, 141, 133);
}
.charcoal {
    fill: rgb(128, 128, 128);
}
.grey {
    fill: rgb(184, 184, 184);
}
.taupe {
    fill: rgb(204, 172, 147);
}

.bg-berryRed {
    background-color: rgb(184, 37, 95);
}
.bg-red {
    background-color: rgb(219, 64, 53);
}
.bg-orange {
    background-color: rgb(255, 153, 51);
}
.bg-yellow {
    background-color: rgb(250, 208, 0);
}
.bg-oliveGreen {
    background-color: rgb(175, 184, 59);
}
.bg-limeGreen {
    background-color: rgb(126, 204, 73);
}
.bg-green {
    background-color: rgb(41, 148, 56);
}
.bg-mintGreen {
    background-color: rgb(106, 204, 188);
}
.bg-teal {
    background-color: rgb(21, 143, 173);
}
.bg-skyBlue {
    background-color: rgb(21, 143, 173);
}
.bg-lightBlue {
    background-color: rgb(150, 195, 235);
}
.bg-blue {
    background-color: rgb(64, 115, 255);
}
.bg-grape {
    background-color: rgb(136, 77, 255);
}
.bg-violet {
    background-color: rgb(175, 56, 235);
}
.bg-lavender {
    background-color: rgb(235, 150, 235);
}
.bg-magenta {
    background-color: rgb(224, 81, 148);
}
.bg-salmon {
    background-color: rgb(255, 141, 133);
}
.bg-charcoal {
    background-color: rgb(128, 128, 128);
}
.bg-grey {
    background-color: rgb(184, 184, 184);
}
.bg-taupe {
    background-color: rgb(204, 172, 147);
}

.c-berryRed {
    color: rgb(184, 37, 95);
}
.c-red {
    color: rgb(219, 64, 53);
}
.c-orange {
    color: rgb(255, 153, 51);
}
.c-yellow {
    color: rgb(250, 208, 0);
}
.c-oliveGreen {
    color: rgb(175, 184, 59);
}
.c-limeGreen {
    color: rgb(126, 204, 73);
}
.c-green {
    color: rgb(41, 148, 56);
}
.c-mintGreen {
    color: rgb(106, 204, 188);
}
.c-teal {
    color: rgb(21, 143, 173);
}
.c-skyBlue {
    color: rgb(21, 143, 173);
}
.c-lightBlue {
    color: rgb(150, 195, 235);
}
.c-blue {
    color: rgb(64, 115, 255);
}
.c-grape {
    color: rgb(136, 77, 255);
}
.c-violet {
    color: rgb(175, 56, 235);
}
.c-lavender {
    color: rgb(235, 150, 235);
}
.c-magenta {
    color: rgb(224, 81, 148);
}
.c-salmon {
    color: rgb(255, 141, 133);
}
.c-charcoal {
    color: rgb(128, 128, 128);
}
.c-grey {
    color: rgb(184, 184, 184);
}
.c-taupe {
    color: rgb(204, 172, 147);
}
