.header {
    height: 44px;
    background-color: #3d3d3d;

    display: flex;
    justify-content: space-between;
    padding: 0 42px;
}

.container {
    display: flex;
    align-items: center;
}

.container__link {
    display: flex;
    align-items: center;
}

.icon__wrapper {
    padding: 3px;
    border-radius: 3px;
    margin: 3px;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.ava__wrapper {
    display: flex;
    margin: 5px;

    cursor: pointer;
}

.header__ava {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
