<div *ngIf="section$ | async as section" class="main__wrapper">
    <div class="header">
        <ng-container *ngIf="isChangingTitle; else titleContainer">
            <div class="title__editor">
                <input class="editor__input" type="text" placeholder="Name this section" [formControl]="titleFormControl" />

                <div class="btns__wrapper">
                    <ui-button styleCls="black mr10" [disabled]="changeButtonDisabled" (clickEvent)="onSave()">Save</ui-button>
                    <ui-button styleCls="white" (clickEvent)="onCancel()">Cancel</ui-button>
                </div>
            </div>
        </ng-container>

        <ng-template #titleContainer>
            <div class="title" (click)="isChangingTitle = true; section.title = titleFormControl.value">
                {{ titleFormControl.value }}
            </div>

            <svg-wp-header-arrow class="header__arrow wh-24" [isClosed]="isClosed$ | async" (clickEvent)="toggleIsClosed()"></svg-wp-header-arrow>

            <div class="icons__container" (click)="dropMenu.toggleIsVisible()">
                <div class="icon__wrapper">
                    <svg-wp-header-more class="wh-24"></svg-wp-header-more>

                    <ui-menu-dropdown #dropMenu class="more__dropdown"></ui-menu-dropdown>
                </div>
            </div>
        </ng-template>

        <div class="bottom__bar"></div>
    </div>

    <div *ngIf="(isClosed$ | async) === false" class="task__list">
        <app-list-task *ngFor="let taskID of section.tasksID" [taskID]="taskID"></app-list-task>

        <app-add-task [sectionID]="sectionID" [projectID]="section.projectID"></app-add-task>
    </div>
</div>
