<div class="main__wrapper">
    <div class="header">
        <ng-container *ngIf="isChangingTitle && _editableTitle; else titleContainer">
            <div class="title__editor">
                <input
                    class="editor__input"
                    type="text"
                    placeholder="Name this section"
                    [formControl]="titleFormControl"
                />

                <div class="btns__wrapper">
                    <ui-button styleCls="black mr10" [disabled]="changeButtonDisabled" (clickEvent)="onSave()"
                        >Save</ui-button
                    >
                    <ui-button
                        styleCls="white"
                        (clickEvent)="isChangingTitle = false; titleFormControl.setValue(listTitle)"
                        >Cancel</ui-button
                    >
                </div>
            </div>
        </ng-container>

        <ng-template #titleContainer>
            <div class="title" (click)="isChangingTitle = true; listTitle = titleFormControl.value">
                {{ titleFormControl.value }}
            </div>

            <svg-wp-header-arrow [isClosed]="isClosed$ | async" (clickEvent)="toggleIsClosed()"></svg-wp-header-arrow>

            <div class="icons__container" (click)="dropMenu.toggleIsVisible()">
                <div class="icon__wrapper">
                    <svg-wp-header-more></svg-wp-header-more>

                    <ui-menu-dropdown
                        #dropMenu
                        class="more__dropdown"
                        [addAbove]="true"
                        [addBelow]="true"
                        [edit]="true"
                        [archive]="true"
                        [del]="true"
                        [schedule]="true"
                        [priority]="true"
                    ></ui-menu-dropdown>
                </div>
            </div>
        </ng-template>
        <!-- change title -->

        <div class="bottom__bar"></div>
    </div>

    <div *ngIf="(isClosed$ | async) === false" class="task__list">
        <app-list-task *ngFor="let task of tasksList" [taskData]="task"></app-list-task>

        <!-- add task --- -->
        <app-add-task-label
            *ngIf="!taskEditorState"
            [text]="'Add Task'"
            (click)="taskEditorState = true"
        ></app-add-task-label>

        <app-add-task
            *ngIf="taskEditorState"
            (addTaskEvent)="addTask($event)"
            (closeEvent)="taskEditorState = false"
        ></app-add-task>
        <!-- --- add task -->
    </div>
</div>
