@import 'vars';

.main__wrapper {
    margin-bottom: 12px;
}

.header {
    position: relative;

    padding: 5px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        & .icons__container {
            opacity: 1;
        }
    }
}
.title {
    font-family: $gFont;
    font-weight: 700;
    font-size: 0.9em;
}

.icons__container {
    opacity: 0;
}
.icon__wrapper {
    position: relative;

    display: flex;
    align-items: center;

    margin-left: 10px;

    padding: 3px 5px;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        background-color: #ececec;

        & ::ng-deep svg-wp-header-more svg.more {
            stroke: black;
        }
    }
}
.more__dropdown {
    bottom: 5px;
    right: 50px;
}

.title__editor {
    // margin-top: 5px;
    margin-bottom: 10px;

    width: 100%;
}

.editor__input {
    width: 100%;
    height: 38px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;

    font-size: 0.85em;
    font-family: $gFont;
    font-weight: 700;

    outline: none;

    &:focus {
        border-color: grey;
    }
}

.btns__wrapper {
    display: flex;
    align-items: center;

    margin-top: 10px;
}

.bottom__bar {
    width: 100%;
    height: 1px;

    background-color: #f0f0f0;

    position: absolute;
    bottom: 0;
    right: 0;
}

// add task ---

.add {
    padding: 10px 0;

    display: flex;
    align-items: center;

    cursor: pointer;
    &:hover {
        & .bg__wrapper {
            background-color: #3d3d3d;
        }
        & ::ng-deep svg {
            fill: #fff;
        }
        & .text {
            color: #3d3d3d;
        }
    }
}

.bg__wrapper {
    background: #fff;
    border-radius: 50%;
    height: calc(13px + 3px * 2);
}

.text {
    font-family: $gFont;
    font-size: 0.8em;
    color: #808080;

    margin: 1px 0 0 10px;
}

// --- add task

// svg positions | sizes

svg-wp-header-more {
    width: 24px;
    height: 24px;
}

svg-wp-header-arrow {
    width: 24px;
    height: 24px;

    position: absolute;
    top: 50%;
    left: -30px;
}
