<div class="main__place">
    <div class="type__list">
        <div class="list__header">
            <div class="lh__container">
                <div class="lh__title">Today</div>
                <div class="lh__date">Fri 14 Jan</div>
            </div>

            <div class="lh__container">
                <div class="lhi__wrapper">
                    <app-wp-view></app-wp-view>

                    <div class="lhi__text">View</div>
                </div>
                <div class="lhi__wrapper">
                    <app-wp-more></app-wp-more>
                </div>
            </div>
        </div>
        <!-- list header -->

        <app-workspace-place-sub-list></app-workspace-place-sub-list>
        <app-workspace-place-sub-list></app-workspace-place-sub-list>
    </div>
    <!-- list -->
</div>
