@import 'vars';

.main {
    width: 100%;
    height: 100%;
    max-height: 584px;
    padding: 16px;

    overflow-y: auto;
}

.field {
    margin-bottom: 20px;
}

.title {
    font-family: $gFont;
    font-size: 0.85em;
    font-weight: 700;

    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    width: 400px;
}

.content {
    display: flex;

    &._column {
        flex-direction: column;
        align-items: flex-start;
    }
}

.text {
    color: rgba(0, 0, 0, 0.88);
    font-family: $gFont;
    font-size: 0.875em;

    margin: 10px 0;

    &._gray {
        color: rgba(0, 0, 0, 0.56);
    }
}

.bar__w100 {
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;

    margin: 20px 0;
}

.select__wrapper {
    position: relative;

    width: 400px;
}

.input__select {
    width: 100%;
    height: 34px;
    padding: 6px 10px;
    border: 1px solid #dde2e3;
    border-radius: 5px;

    font-family: $gFont;
    color: rgba(0, 0, 0, 0.88);
    font-size: 0.8em;

    cursor: pointer;
}

.select__arrow {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);

    background: #fff;

    z-index: 10;
}

.section__title {
    color: rgba(0, 0, 0, 0.88);
    font-family: $gFont;
    font-weight: 700;

    margin-bottom: 20px;
}

.check__label {
    display: flex;
    align-items: center;

    margin: 6px 0 0 0;
}

.input__check {
    height: 16px;
    width: 16px;
}

.check__text {
    font-family: $gFont;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.88);

    cursor: pointer;
    margin-left: 10px;
}

// svg components sizes

// next for select
svg-mo-sett-select {
    height: 16px;
    width: 16px;
}
