<div class="main">
    <div class="field">
        <div class="title">Language</div>

        <div class="content">
            <div class="select__wrapper">
                <select class="input__select">
                    <option value="">Today</option>
                    <option value="">Index</option>
                    <option value="">idk :)</option>
                </select>
                <svg-mo-sett-select class="select__arrow"></svg-mo-sett-select>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="title">Home view</div>

        <div class="content">
            <div class="select__wrapper">
                <select class="input__select">
                    <option value="">Today</option>
                    <option value="">Index</option>
                    <option value="">idk :)</option>
                </select>
                <svg-mo-sett-select class="select__arrow"></svg-mo-sett-select>
            </div>
        </div>
    </div>

    <div class="bar__w100"></div>

    <div class="section__title">Date & time</div>

    <div class="field">
        <div class="title">Time zone</div>

        <div class="content">
            <div class="select__wrapper">
                <select class="input__select">
                    <option value="">Today</option>
                    <option value="">Index</option>
                    <option value="">idk :)</option>
                </select>
                <svg-mo-sett-select class="select__arrow"></svg-mo-sett-select>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="title">Time format</div>

        <div class="content">
            <div class="select__wrapper">
                <select class="input__select">
                    <option value="">Today</option>
                    <option value="">Index</option>
                    <option value="">idk :)</option>
                </select>
                <svg-mo-sett-select class="select__arrow"></svg-mo-sett-select>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="title">Date format</div>

        <div class="content">
            <div class="select__wrapper">
                <select class="input__select">
                    <option value="">Today</option>
                    <option value="">Index</option>
                    <option value="">idk :)</option>
                </select>
                <svg-mo-sett-select class="select__arrow"></svg-mo-sett-select>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="title">Week start</div>

        <div class="content">
            <div class="select__wrapper">
                <select class="input__select">
                    <option value="">Today</option>
                    <option value="">Index</option>
                    <option value="">idk :)</option>
                </select>
                <svg-mo-sett-select class="select__arrow"></svg-mo-sett-select>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="title">Next week</div>

        <div class="content _column">
            <div class="select__wrapper">
                <select class="input__select">
                    <option value="">Today</option>
                    <option value="">Index</option>
                    <option value="">idk :)</option>
                </select>
                <svg-mo-sett-select class="select__arrow"></svg-mo-sett-select>
            </div>

            <div class="text gray">Postpone tasks to this day when using “Next week”.</div>
        </div>
    </div>

    <div class="field">
        <div class="title">Weekend</div>

        <div class="content _column">
            <div class="select__wrapper">
                <select class="input__select">
                    <option value="">Today</option>
                    <option value="">Index</option>
                    <option value="">idk :)</option>
                </select>
                <svg-mo-sett-select class="select__arrow"></svg-mo-sett-select>
            </div>

            <div class="text gray">Postpone tasks to this day when using “Weekend”.</div>
        </div>
    </div>

    <div class="field">
        <div class="title">Smart date recognition</div>

        <div class="content _column">
            <div class="check__label">
                <ui-checkbox [label]="'On'"></ui-checkbox>
            </div>

            <div class="text gray">Automatically recognize due dates when typing a task.</div>
        </div>
    </div>

    <div class="bar__w100"></div>

    <div class="section__title">Sound & appearance</div>

    <div class="field">
        <div class="title">Smart date recognition</div>

        <div class="content _column">
            <div class="check__label">
                <ui-checkbox [label]="'Desktop and web'"></ui-checkbox>
            </div>

            <div class="check__label">
                <ui-checkbox [label]="'Mobile'"></ui-checkbox>
            </div>

            <div class="text gray">Play a sound when tasks are completed.</div>
        </div>
    </div>
</div>
