<div class="left__menu" [ngClass]="{ closed: isClosed }">
    <div class="main__tab">
        <app-lm-inbox styleCls="blue"></app-lm-inbox>
        <div class="tab__title">Inbox</div>
        <div class="tab__num gray">10</div>
    </div>

    <div class="main__tab active">
        <app-lm-today></app-lm-today>
        <div class="tab__title">Today</div>
        <div class="tab__num red">7</div>
    </div>

    <div class="main__tab">
        <app-lm-upcoming></app-lm-upcoming>
        <div class="tab__title">Upcoming</div>
    </div>

    <div class="group__wrapper" [ngClass]="activeLabels['favorites'] ? 'active' : ''">
        <div class="menu__group_tab" (click)="classActive('favorites')">
            <div class="menu__group_tab__arrow"></div>
            <div class="menu__group_tab__text">Favorites</div>
        </div>

        <div class="menu__proj__wrapper">
            <div *ngFor="let item of favorites" class="menu__proj">
                <app-lm-dot *ngIf="item.type === 'project'" [styleCls]="item.colorCls"></app-lm-dot>
                <app-lm-label *ngIf="item.type === 'label'" [styleCls]="item.colorCls"></app-lm-label>
                <app-lm-filter *ngIf="item.type === 'filter'" [styleCls]="item.colorCls"></app-lm-filter>

                <div class="menu__proj__title">{{ item.name }}</div>
                <div class="menu__proj__num gray">{{ item._todoTasks }}</div>

                <app-lm-more></app-lm-more>

                <app-lm-drag></app-lm-drag>
            </div>
        </div>
        <!-- favorites ngFor -->
    </div>
    <!-- Favorits | group wrapper -->

    <div class="group__wrapper" [ngClass]="activeLabels['projects'] ? 'active' : ''">
        <div class="menu__group_tab" (click)="classActive('projects')">
            <div class="menu__group_tab__arrow"></div>
            <div class="menu__group_tab__text">Projects</div>

            <app-lm-plus (click)="projectPlusEvent($event)"></app-lm-plus>
        </div>

        <div class="menu__proj__wrapper">
            <div *ngFor="let proj of projects" class="menu__proj">
                <app-lm-dot [styleCls]="proj.colorCls"></app-lm-dot>

                <div class="menu__proj__title">{{ proj.name }}</div>
                <div class="menu__proj__num gray">{{ proj._todoTasks }}</div>

                <app-lm-more></app-lm-more>

                <app-lm-drag></app-lm-drag>
            </div>
        </div>
        <!-- projects ngFor -->
    </div>
    <!-- Projects | group wrapper -->

    <div class="group__wrapper" [ngClass]="activeLabels['labels'] ? 'active' : ''">
        <div class="menu__group_tab" (click)="classActive('labels')">
            <div class="menu__group_tab__arrow"></div>
            <div class="menu__group_tab__text">Labels</div>

            <app-lm-plus (click)="labelPlusEvent($event)"></app-lm-plus>
        </div>

        <div class="menu__proj__wrapper">
            <div *ngFor="let label of labels" class="menu__proj">
                <app-lm-label [styleCls]="label.colorCls"></app-lm-label>

                <div class="menu__proj__title">{{ label.name }}</div>
                <div class="menu__proj__num gray">{{ label._todoTasks }}</div>

                <app-lm-more></app-lm-more>

                <app-lm-drag></app-lm-drag>
            </div>
        </div>
        <!-- labels ngFor -->
    </div>
    <!-- Labels | group wrapper -->

    <div class="group__wrapper" [ngClass]="activeLabels['filters'] ? 'active' : ''">
        <div class="menu__group_tab" (click)="classActive('filters')">
            <div class="menu__group_tab__arrow"></div>
            <div class="menu__group_tab__text">Filters</div>

            <app-lm-plus (click)="filterPlusEvent($event)"></app-lm-plus>
        </div>

        <div class="menu__proj__wrapper">
            <div *ngFor="let filter of filters" class="menu__proj">
                <app-lm-filter [styleCls]="filter.colorCls"></app-lm-filter>

                <div class="menu__proj__title">{{ filter.name }}</div>
                <div class="menu__proj__num gray">{{ filter._todoTasks }}</div>

                <app-lm-more></app-lm-more>

                <app-lm-drag></app-lm-drag>
            </div>
        </div>
        <!-- filters ngFor -->
    </div>
    <!-- Filters | group wrapper -->

    <div class="resize__bar"></div>
</div>
