<div class="left__menu" [ngClass]="{ closed: isClosed }">
    <div class="main__tab">
        <svg-lm-inbox styleCls="blue"></svg-lm-inbox>
        <div class="tab__title">Inbox</div>
        <div class="tab__num gray">10</div>
    </div>

    <div class="main__tab active">
        <svg-lm-today></svg-lm-today>
        <div class="tab__title">Today</div>
        <div class="tab__num red">7</div>
    </div>

    <div class="main__tab unavailable">
        <svg-lm-upcoming></svg-lm-upcoming>
        <div class="tab__title">Upcoming</div>
    </div>

    <div class="group__wrapper" [ngClass]="activeLabels['favorites'] ? 'active' : ''">
        <div class="menu__group_tab" (click)="classActive('favorites')">
            <div class="menu__group_tab__arrow"></div>
            <div class="menu__group_tab__text">Favorites</div>
        </div>

        <div class="menu__proj__wrapper">
            <div *ngFor="let item of favorites" class="menu__proj">
                <svg-lm-dot *ngIf="item.type === 'project'" [styleCls]="item.colorCls"></svg-lm-dot>
                <svg-lm-label *ngIf="item.type === 'label'" [styleCls]="item.colorCls"></svg-lm-label>
                <svg-lm-filter *ngIf="item.type === 'filter'" [styleCls]="item.colorCls"></svg-lm-filter>

                <div class="menu__proj__title">{{ item.name }}</div>
                <div class="menu__proj__num gray">{{ item._todoTasks }}</div>

                <svg-lm-more></svg-lm-more>

                <svg-lm-drag></svg-lm-drag>
            </div>
        </div>
        <!-- favorites ngFor -->
    </div>
    <!-- Favorits | group wrapper -->

    <div class="group__wrapper" [ngClass]="activeLabels['projects'] ? 'active' : ''">
        <div class="menu__group_tab" (click)="classActive('projects')">
            <div class="menu__group_tab__arrow"></div>
            <div class="menu__group_tab__text">Projects</div>

            <a
                [routerLink]="[{ outlets: { modals: 'addProject' } }]"
                [skipLocationChange]="true"
                (click)="$event.stopPropagation()"
                ><svg-lm-plus></svg-lm-plus
            ></a>
        </div>

        <div class="menu__proj__wrapper">
            <div *ngFor="let proj of projects" class="menu__proj">
                <svg-lm-dot [styleCls]="proj.colorCls"></svg-lm-dot>

                <div class="menu__proj__title">{{ proj.name }}</div>
                <div class="menu__proj__num gray">{{ proj._todoTasks }}</div>

                <svg-lm-more></svg-lm-more>

                <svg-lm-drag></svg-lm-drag>
            </div>
        </div>
        <!-- projects ngFor -->
    </div>
    <!-- Projects | group wrapper -->

    <div class="group__wrapper" [ngClass]="activeLabels['labels'] ? 'active' : ''">
        <div class="menu__group_tab" (click)="classActive('labels')">
            <div class="menu__group_tab__arrow"></div>
            <div class="menu__group_tab__text">Labels</div>

            <a
                [routerLink]="[{ outlets: { modals: 'addLabel' } }]"
                [skipLocationChange]="true"
                (click)="$event.stopPropagation()"
                ><svg-lm-plus></svg-lm-plus
            ></a>
        </div>

        <div class="menu__proj__wrapper">
            <div *ngFor="let label of labels" class="menu__proj">
                <svg-lm-label [styleCls]="label.colorCls"></svg-lm-label>

                <div class="menu__proj__title">{{ label.name }}</div>
                <div class="menu__proj__num gray">{{ label._todoTasks }}</div>

                <svg-lm-more></svg-lm-more>

                <svg-lm-drag></svg-lm-drag>
            </div>
        </div>
        <!-- labels ngFor -->
    </div>
    <!-- Labels | group wrapper -->

    <div class="group__wrapper" [ngClass]="activeLabels['filters'] ? 'active' : ''">
        <div class="menu__group_tab" (click)="classActive('filters')">
            <div class="menu__group_tab__arrow"></div>
            <div class="menu__group_tab__text">Filters</div>

            <a
                [routerLink]="[{ outlets: { modals: 'addFilter' } }]"
                [skipLocationChange]="true"
                (click)="$event.stopPropagation()"
                ><svg-lm-plus></svg-lm-plus
            ></a>
        </div>

        <div class="menu__proj__wrapper">
            <div *ngFor="let filter of filters" class="menu__proj">
                <svg-lm-filter [styleCls]="filter.colorCls"></svg-lm-filter>

                <div class="menu__proj__title">{{ filter.name }}</div>
                <div class="menu__proj__num gray">{{ filter._todoTasks }}</div>

                <svg-lm-more></svg-lm-more>

                <svg-lm-drag></svg-lm-drag>
            </div>
        </div>
        <!-- filters ngFor -->
    </div>
    <!-- Filters | group wrapper -->

    <div class="resize__bar unavailable"></div>
</div>
