<div class="main__place">
    <div class="type__list">
        <app-list-header [title]="'Today'" [_dateDisplay]="true" [_editableTitle]="false"></app-list-header>

        <app-list-task *ngFor="let task of tasksList" [taskData]="task"></app-list-task>

        <!-- todo : check for divide into component -->
        <!-- add task --- -->
        <ng-container *ngIf="!taskEditorActiveState">
            <div class="add" (click)="taskEditorActiveState = true">
                <div class="bg__wrapper">
                    <svg-wp-task-add></svg-wp-task-add>
                </div>

                <div class="text">Add Task</div>
            </div>
        </ng-container>

        <app-add-task
            *ngIf="taskEditorActiveState"
            (closeEvent)="taskEditorActiveState = false"
            (addTaskEvent)="addTask($event)"
        ></app-add-task>
        <!--  --- add task -->

        <!-- todo : change to ngFor -->
        <app-list-section
            [listTitle]="'Overdue'"
            [tasksList]="overdueTasksList"
            [_editableTitle]="false"
        ></app-list-section>

        <!-- <app-list-add-section></app-list-add-section> -->

        <!-- <app-add-task></app-add-task> -->
    </div>
    <!-- list -->
</div>
