<div class="modal" (click)="onClose()">
    <form class="main" [formGroup]="addTaskForm" (click)="$event.stopPropagation()">
        <div class="title__text__editor">
            <input type="text" class="task__title" placeholder="Task name" formControlName="taskName" />

            <textarea class="task__descrption" placeholder="Description" formControlName="taskDescription"></textarea>
        </div>

        <div class="editor__bottom">
            <div class="flex__container">
                <div class="bottom__butt">
                    <svg-wp-schedule styleCls="charcoal"></svg-wp-schedule>
                    <div class="bot_but__text">Scheduled</div>
                </div>
                <div class="bottom__butt">
                    <svg-wp-inbox styleCls="blue"></svg-wp-inbox>
                    <div class="bot_but__text">Inbox</div>
                </div>
            </div>

            <div class="flex__container">
                <svg-wp-label></svg-wp-label>
                <!-- <svg-wp-priority></svg-wp-priority> -->

                <div class="icon__wrapper" (click)="priorityDropdown.toggleIsVisible()">
                    <svg-wp-priority [prior]="priority"></svg-wp-priority>
                    <ui-priority-dropdown
                        #priorityDropdown
                        (changePriorityEvent)="changePriority($event)"
                    ></ui-priority-dropdown>
                </div>
            </div>
        </div>

        <div class="btns__wrapper">
            <ui-button styleCls="black mr10" [disabled]="addButtonDisabled">Add task</ui-button>
            <ui-button styleCls="white" (clickEvent)="onClose()">Cancel</ui-button>
        </div>
    </form>
</div>
