@import 'vars';

// add task ---

.add {
    padding: 10px 0;

    display: flex;
    align-items: center;

    cursor: pointer;
    &:hover {
        & .bg__wrapper {
            background-color: #3d3d3d;
        }
        & ::ng-deep svg {
            fill: #fff;
        }
        & .text {
            color: #3d3d3d;
        }
    }
}

.bg__wrapper {
    background: #fff;
    border-radius: 50%;
    height: calc(13px + 3px * 2);
}

.text {
    font-family: $gFont;
    font-size: 0.8em;
    color: #808080;

    margin: 1px 0 0 10px;
}

// --- add task
