<div class="main">
    <div class="field">
        <div class="title">New password</div>

        <div class="content">
            <div class="input__pass__wrapper">
                <input class="input__password" [attr.type]="passIsVisible ? 'text' : 'password'" />

                <app-close-eye
                    *ngIf="!passIsVisible"
                    (click)="togglePassIsVisible()"
                    class="pass__eye close"
                ></app-close-eye>
                <app-open-eye
                    *ngIf="passIsVisible"
                    (click)="togglePassIsVisible()"
                    class="pass__eye open"
                ></app-open-eye>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="title">Confirm new password</div>

        <div class="content">
            <div class="input__pass__wrapper">
                <input class="input__password" [attr.type]="passIsVisible ? 'text' : 'password'" />

                <app-close-eye
                    *ngIf="!passIsVisible"
                    (click)="togglePassIsVisible()"
                    class="pass__eye close"
                ></app-close-eye>
                <app-open-eye
                    *ngIf="passIsVisible"
                    (click)="togglePassIsVisible()"
                    class="pass__eye open"
                ></app-open-eye>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="content">
            <div class="text gray">
                Your password must be at least 8 characters long. Avoid common words or patterns.
            </div>
        </div>
    </div>
</div>
