<div *ngIf="isVisible" class="dropdown__wrapper" (click)="close(); $event.stopPropagation()">
    <div #menuView class="menu" (click)="$event.stopPropagation()">
        <div class="header">View</div>

        <div class="item" (click)="viewAsVisible = true">
            <div class="container">
                <svg-drop-view-as class="wh-24"></svg-drop-view-as>
                <div class="item__text">View as</div>
            </div>

            <div class="container">
                <div class="selected__value">{{ viewAsValue }}</div>
                <svg-drop-arrow class="wh-24 mt4"></svg-drop-arrow>
            </div>

            <div class="submenu__wrapper" *ngIf="viewAsVisible" (click)="viewAsVisible = false; $event.stopPropagation()">
                <div class="submenu">
                    <div class="submenu__item" (click)="viewAs('LIST')">
                        <div class="sub_item__text">List</div>
                        <svg-drop-sub-tick *ngIf="viewAsValue === 'List'" class="wh-12 m7"></svg-drop-sub-tick>
                    </div>
                    <div class="submenu__item" (click)="viewAs('BOARD')">
                        <div class="sub_item__text">Board</div>
                        <svg-drop-sub-tick *ngIf="viewAsValue === 'Board'" class="wh-12 m7"></svg-drop-sub-tick>
                    </div>
                </div>
            </div>
        </div>

        <div class="bar"></div>

        <div class="header">Sort</div>

        <div class="item" (click)="viewGroupBy = true">
            <div class="container">
                <svg-drop-group-by class="wh-24"></svg-drop-group-by>
                <div class="item__text">Group by</div>
            </div>

            <div class="container">
                <div class="selected__value">{{ groupByValue }}</div>
                <svg-drop-arrow class="wh-24 mt4"></svg-drop-arrow>
            </div>

            <div class="submenu__wrapper" *ngIf="viewGroupBy" (click)="viewGroupBy = false; $event.stopPropagation()">
                <div class="submenu">
                    <div class="submenu__item" (click)="groupByValue = 'Default'">
                        <div class="sub_item__text">Default</div>
                        <svg-drop-sub-tick *ngIf="groupByValue === 'Default'" class="wh-12 m7"></svg-drop-sub-tick>
                    </div>
                    <div class="submenu__item" (click)="groupByValue = 'Due date'">
                        <div class="sub_item__text">Due date</div>
                        <svg-drop-sub-tick *ngIf="groupByValue === 'Due date'" class="wh-12 m7"></svg-drop-sub-tick>
                    </div>
                    <div class="submenu__item" (click)="groupByValue = 'Date added'">
                        <div class="sub_item__text">Date added</div>
                        <svg-drop-sub-tick *ngIf="groupByValue === 'Date added'" class="wh-12 m7"></svg-drop-sub-tick>
                    </div>
                    <div class="submenu__item" (click)="groupByValue = 'Priority'">
                        <div class="sub_item__text">Priority</div>
                        <svg-drop-sub-tick *ngIf="groupByValue === 'Priority'" class="wh-12 m7"></svg-drop-sub-tick>
                    </div>
                    <div class="submenu__item" (click)="groupByValue = 'Label'">
                        <div class="sub_item__text">Label</div>
                        <svg-drop-sub-tick *ngIf="groupByValue === 'Label'" class="wh-12 m7"></svg-drop-sub-tick>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" (click)="viewSortBy = true">
            <div class="container">
                <svg-drop-sort-by class="wh-24"></svg-drop-sort-by>
                <div class="item__text">Sort by</div>
            </div>

            <div class="container">
                <div class="selected__value">{{ sortByValue }}</div>
                <svg-drop-arrow class="wh-24 mt4"></svg-drop-arrow>
            </div>

            <div class="submenu__wrapper" *ngIf="viewSortBy" (click)="viewSortBy = false; $event.stopPropagation()">
                <div class="submenu">
                    <div class="submenu__item" (click)="sortByValue = 'Default'">
                        <div class="sub_item__text">Default</div>
                        <svg-drop-sub-tick *ngIf="sortByValue === 'Default'" class="wh-12 m7"></svg-drop-sub-tick>
                    </div>
                    <div class="submenu__item" (click)="sortByValue = 'Alphabetically'">
                        <div class="sub_item__text">Alphabetically</div>
                        <svg-drop-sub-tick *ngIf="sortByValue === 'Alphabetically'" class="wh-12 m7"></svg-drop-sub-tick>
                    </div>
                    <div class="submenu__item" (click)="sortByValue = 'Due date'">
                        <div class="sub_item__text">Due date</div>
                        <svg-drop-sub-tick *ngIf="sortByValue === 'Due date'" class="wh-12 m7"></svg-drop-sub-tick>
                    </div>
                    <div class="submenu__item" (click)="sortByValue = 'Date added'">
                        <div class="sub_item__text">Date added</div>
                        <svg-drop-sub-tick *ngIf="sortByValue === 'Date added'" class="wh-12 m7"></svg-drop-sub-tick>
                    </div>
                    <div class="submenu__item" (click)="sortByValue = 'Priority'">
                        <div class="sub_item__text">Priority</div>
                        <svg-drop-sub-tick *ngIf="sortByValue === 'Priority'" class="wh-12 m7"></svg-drop-sub-tick>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
