@import "vars";

.add {
    padding: 10px 0;

    display: flex;
    align-items: center;

    cursor: pointer;
    &:hover {
        & .bg__wrapper {
            background-color: #3d3d3d;
        }
        & ::ng-deep svg {
            fill: #fff;
        }
        & .text {
            color: #3d3d3d;
        }
    }
}

.bg__wrapper {
    background: #fff;
    border-radius: 50%;
    height: calc(13px + 3px * 2);
}

.text {
    font-family: $gFont;
    font-size: 0.8em;
    color: #808080;

    margin: 1px 0 0 10px;
}

// task editor

.editor__container {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ddd;

    margin: 5px 0 0 0;
    padding: 10px;

    position: relative;

    &._active {
        border-color: rgba(0, 0, 0, 0.4);
    }
}

.task__title {
    height: 21px;
    width: 100%;
    border: none;
    outline: none;
    font-family: $gFont;
    font-size: 0.875em;
    margin-bottom: 10px;
}

.task__description {
    height: 34px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-family: $gFont;
    font-size: 0.825em;
    overflow: hidden;
    margin-bottom: 10px;
}

.editor__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex__container {
    display: flex;
    align-items: center;
}

.bottom__butt {
    padding: 6px;
    margin-right: 8px;

    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;

    user-select: none;
    cursor: pointer;

    &:hover {
        background-color: #eee;
    }
}

.bot_but__text {
    font-family: $gFont;
    font-size: 0.8em;

    margin-left: 5px;

    color: #555;
}

.btns__wrapper {
    display: flex;
    align-items: center;

    margin-top: 10px;
}

// svg positions | sizes

svg-wp-schedule,
svg-wp-inbox {
    width: 16px;
    height: 16px;
}

svg-wp-label,
svg-wp-priority {
    height: 28px;
    width: 28px;

    padding: 2px;
    margin-left: 6px;
}

// todo : add styles for container + ...
