@import 'vars';

.add__section__trigger {
    height: 100%;
    margin: 0 10px;
    width: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;
    z-index: 10;

    transition: 0.3s;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.trigger__bar {
    width: 1px;
    height: 100%;

    background-color: #dd4b39;
}

.trigger__text {
    font-size: 0.875em;
    font-family: $gFont;
    color: #dd4b39;
    font-weight: 700;
    white-space: nowrap;

    margin: 7px 0;
}

.title__editor {
    margin: 0 15px;

    width: 230px;
}

.editor__input {
    width: 100%;
    height: 38px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;

    font-size: 0.85em;
    font-family: $gFont;
    font-weight: 700;

    outline: none;

    &:focus {
        border-color: grey;
    }
}

.btns__wrapper {
    display: flex;
    align-items: center;

    margin-top: 10px;
}

.add__section__panel {
    margin: 0 15px;
    padding: 0 15px;
    border-radius: 5px;

    background-color: #fafafa;

    cursor: pointer;
    &:hover {
        background-color: #eee;
        & .add__section__text {
            color: #dd4b39;
        }
        & ::ng-deep svg {
            fill: #dd4b39;
        }
    }
}

.add__section__button {
    width: 260px;
    height: 40px;

    display: flex;
    align-items: center;
}

.add__section__text {
    font-size: 0.875em;
    font-family: $gFont;
    color: #888;

    margin-left: 12px;
}

// svg components sizes

.wh-24 {
    width: 24px;
    height: 24px;
}
