<ng-container *ngIf="!isOnAdd; else addSection">
    <div *ngIf="type === 'bar'" class="add__section__trigger" (click)="isOnAdd = true">
        <div class="trigger__bar"></div>
        <div class="trigger__text">Add Section</div>
        <div class="trigger__bar"></div>
    </div>

    <div *ngIf="type === 'panel'" class="add__section__panel" (click)="isOnAdd = true">
        <div class="add__section__button">
            <svg-drop-add-section class="wh-24"></svg-drop-add-section>
            <div class="add__section__text">Add section</div>
        </div>
    </div>
</ng-container>

<ng-template #addSection>
    <form class="title__editor" [formGroup]="addSectionForm">
        <input class="editor__input" type="text" placeholder="Name this section" formControlName="title" />

        <div class="btns__wrapper">
            <ui-button styleCls="black mr10" [disabled]="saveBtnDisable" (clickEvent)="onSave()">Save</ui-button>
            <ui-button styleCls="white" (clickEvent)="onCancel()">Cancel</ui-button>
        </div>
    </form>
</ng-template>
