<div class="page__wrapper">
    <form class="auth__standalone">
        <div class="standalone__title">Register</div>

        <div class="oAuth__button">
            <app-google-icon class="oAuth__img"></app-google-icon>
            <div class="oAuth__text">Register in with Google</div>
        </div>
        <div class="oAuth__button">
            <app-facebook-icon class="oAuth__img"></app-facebook-icon>
            <div class="oAuth__text">Register in with Facebook</div>
        </div>

        <div class="auth__or">
            <div class="auth__or__bar"></div>
            <div class="auth__or__text">OR</div>
            <div class="auth__or__bar"></div>
        </div>

        <div class="field">
            <label for="regNameID">
                <div class="field__title">Username</div>
                <input class="field__input" type="text" name="" id="regNameID" />
            </label>
        </div>
        <div class="field">
            <label for="regEmailID">
                <div class="field__title">Email</div>
                <input class="field__input" type="text" name="" id="regEmailID" />
            </label>
        </div>
        <div class="field">
            <label for="authPasswordID">
                <div class="field__title">Password</div>
                <input
                    class="field__input"
                    [attr.type]="passIsVisible ? 'text' : 'password'"
                    name=""
                    id="authPasswordID"
                />
                <app-close-eye
                    *ngIf="!passIsVisible"
                    (click)="togglePassIsVisible()"
                    class="pass__eye close"
                ></app-close-eye>
                <app-open-eye
                    *ngIf="passIsVisible"
                    (click)="togglePassIsVisible()"
                    class="pass__eye open"
                ></app-open-eye>
            </label>
        </div>
        <div class="field">
            <label for="regConfPassID">
                <div class="field__title">Confirm Password</div>
                <input
                    class="field__input"
                    [attr.type]="passIsVisible ? 'text' : 'password'"
                    name=""
                    id="regConfPassID"
                />
                <app-close-eye
                    *ngIf="!passIsVisible"
                    (click)="togglePassIsVisible()"
                    class="pass__eye close"
                ></app-close-eye>
                <app-open-eye
                    *ngIf="passIsVisible"
                    (click)="togglePassIsVisible()"
                    class="pass__eye open"
                ></app-open-eye>
            </label>
        </div>
        <input class="button__sign" type="submit" value="Register" />

        <div class="bar"></div>

        <div class="field__flex">
            <div class="signReg__text">
                You are registered?&nbsp; <a [routerLink]="['/auth/signin']" class="signReg__link">Sign in</a>
            </div>
        </div>
    </form>
</div>
