@import "vars";

.page__wrapper {
    width: 100vw;
    height: 100vh;

    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth__standalone {
    padding: 25px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 8px;

    width: 500px;
}

.standalone__title {
    font-size: 1.6em;
    font-family: $gFont;
    font-weight: 700;

    margin-bottom: 22px;
}

.field {
    margin-bottom: 10px;
}

.field__title {
    font-weight: 700;
    font-family: $gFont;
    font-size: 0.9em;

    margin-bottom: 5px;
}

.field__input {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.75em 1em;
    width: 100%;
}

.field__input[type="password"] {
    padding-right: 40px;
}

.button__sign {
    cursor: pointer;
    text-align: center;
    width: 100%;
    padding: 11px 12px;
    border: none;
    border-radius: 4px;

    background-color: #3d3d3d;
    color: #fff;
}

.bar {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 15px 0;
}

.field__flex {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signReg__text {
    font-size: 0.8em;
    font-family: $gFont;
}

.signReg__link {
    font-family: $gFont;
    color: #3d3d3d;

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.oAuth__button {
    width: 100%;
    height: 38px;
    border: 1px solid #ddd;
    border-radius: 4px;

    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        border-color: #999;
    }
}

.oAuth__img {
    width: 16px;
    height: 16px;
}

.oAuth__text {
    font-size: 0.85em;
    font-family: $gFont;
    margin-left: 10px;
}

.auth__or {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 13px 0 0;
}
.auth__or__text {
    color: #777;
    font-family: $gFont;
    font-size: 0.9em;

    margin: 0 10px;
}
.auth__or__bar {
    width: 100%;
    height: 1px;
    background-color: #ddd;
}
