<div class="page__wrapper">
    <form class="auth__standalone">
        <div class="standalone__title">Register</div>

        <div class="oAuth__button">
            <img src="https://d3ptyyxy2at9ui.cloudfront.net/google-32ae27.svg" alt="" class="oAuth__img" />
            <div class="oAuth__text">Register in with Google</div>
        </div>
        <div class="oAuth__button">
            <img src="https://d3ptyyxy2at9ui.cloudfront.net/facebook-fadd25.svg" alt="" class="oAuth__img" />
            <div class="oAuth__text">Register in with Facebook</div>
        </div>

        <div class="auth__or">
            <div class="auth__or__bar"></div>
            <div class="auth__or__text">OR</div>
            <div class="auth__or__bar"></div>
        </div>

        <div class="field">
            <label for="authEmailID">
                <div class="field__title">Email</div>
                <input class="field__input" type="text" name="" id="authEmailID" />
            </label>
        </div>
        <input class="button__sign" type="submit" value="Register" />

        <div class="bar"></div>

        <div class="field__flex">
            <div class="signReg__text">
                You are registered?&nbsp; <a href="javascript:void(0);" class="signReg__link">Sign in</a>
            </div>
        </div>
    </form>
</div>
