@import 'vars';

.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 400px;

    background-color: #fff;
    border-radius: 10px;
}

.header {
    width: 100%;
    padding: 15px 24px;
    border-radius: 10px 10px 0 0;
    background-color: #fafafa;

    position: relative;

    font-family: $gFont;
    font-weight: 700;
    color: black;
}

.bottom__bar {
    width: 100%;
    height: 1px;

    background-color: #f0f0f0;

    position: absolute;
    bottom: 0;
    right: 0;
}

.footer {
    width: 100%;
    padding: 10px 24px;

    border-radius: 0 0 10px 10px;

    background-color: #fafafa;
}

.footer__butt__wrapp {
    display: flex;
    justify-content: flex-end;
}

.content {
    padding: 20px 24px;
    background-color: #fff;

    position: relative;
}

.field {
    margin-bottom: 15px;

    position: relative;
}

.label {
    margin-bottom: 10px;

    font-weight: 700;
    font-family: $gFont;
    font-size: 0.9em;
}

.input__text {
    height: 30px;
    width: 100%;
    padding: 5px;

    border: 1px solid #ddd;
    border-radius: 5px;

    font-family: $gFont;
    font-size: 0.8em;

    outline: none;

    transition: 0.2s;
    &:focus {
        border: 1px solid gray;
    }
}

.check__wrapper {
    display: flex;
    align-items: center;

    margin-bottom: 30px;
}

.view__type__wrapper {
    display: flex;
    justify-content: space-between;
}

.view__type:hover {
    cursor: pointer;
    & .type__table {
        border-color: #808080;
    }
    & .type__list {
        border-color: #808080;
    }
    &._list .type__list {
        background-image: url('../../../../assets/svg/proj-type/list-type-hover.svg');
    }
    &._table .type__table {
        background-image: url('../../../../assets/svg/proj-type/table-type-hover.svg');
    }
}

.type__list {
    border: 1px solid #ddd;
    border-radius: 5px;

    width: 160px;
    height: 120px;
    cursor: pointer;

    padding-top: 9px;

    background-image: url('../../../../assets/svg/proj-type/list-type.svg');
    background-repeat: no-repeat;
    background-position: 0 10px;

    &:hover {
        background-image: url('../../../../assets/svg/proj-type/list-type-hover.svg');
    }
    &._active {
        background-image: url('../../../../assets/svg/proj-type/list-type-hover.svg');
        border-color: #dd4b39 !important;
    }
}

.type__table {
    border: 1px solid #ddd;
    border-radius: 5px;

    width: 160px;
    height: 120px;
    cursor: pointer;

    padding: 5px 0 0 5px;
    overflow: hidden;

    background-image: url('../../../../assets/svg/proj-type/table-type.svg');
    background-repeat: no-repeat;
    background-position: 5px 5px;

    &:hover {
        background-image: url('../../../../assets/svg/proj-type/table-type-hover.svg');
    }
    &._active {
        background-image: url('../../../../assets/svg/proj-type/table-type-hover.svg');
        border-color: #dd4b39 !important;
    }
}

.type__check__wrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
}
