<div class="modal" (click)="onCancel()">
    <div class="main" (click)="$event.stopPropagation()">
        <div class="header">
            <span>Add Project</span>
            <div class="bottom__bar"></div>
        </div>

        <form class="content" [formGroup]="form">
            <div class="field">
                <div class="label">Name</div>
                <input class="input__text" type="text" formControlName="title" />
            </div>

            <div class="field">
                <div class="label">Color</div>

                <ui-color-picker formControlName="colorCls"></ui-color-picker>
            </div>

            <div class="field">
                <div class="check__wrapper">
                    <ui-checkbox [label]="'Add to favorites'" formControlName="favorites"></ui-checkbox>
                </div>
            </div>

            <div class="field">
                <div class="label">View</div>

                <div class="view__type__wrapper">
                    <div class="view__type _list" (click)="changeType('LIST')">
                        <div class="type__list" [ngClass]="{ _active: form.value.type === 'LIST' }"></div>

                        <div class="type__check__wrapper">
                            <ui-checkbox [label]="'List'" [checked]="form.value.type === 'LIST'"></ui-checkbox>
                        </div>
                    </div>
                    <div class="view__type _board" (click)="changeType('BOARD')">
                        <div class="type__board" [ngClass]="{ _active: form.value.type === 'BOARD' }"></div>

                        <div class="type__check__wrapper">
                            <ui-checkbox [label]="'Board'" [checked]="form.value.type === 'BOARD'"></ui-checkbox>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottom__bar"></div>
        </form>

        <div class="footer">
            <div class="footer__butt__wrapp">
                <ui-button styleCls="white mr10" (clickEvent)="onCancel()">Cancel</ui-button>
                <ui-button styleCls="black" [disabled]="__addButtonDisabled" (clickEvent)="onSave()">Save</ui-button>
            </div>
        </div>
    </div>
</div>
