<div class="page__wrapper">
    <form class="auth__standalone">
        <div class="standalone__title">Sign in</div>

        <div class="oAuth__button">
            <svg-google-icon class="oAuth__img"></svg-google-icon>
            <div class="oAuth__text">Sign in with Google</div>
        </div>
        <div class="oAuth__button">
            <svg-facebook-icon class="oAuth__img"></svg-facebook-icon>
            <div class="oAuth__text">Sign in with Facebook</div>
        </div>

        <div class="auth__or">
            <div class="auth__or__bar"></div>
            <div class="auth__or__text">OR</div>
            <div class="auth__or__bar"></div>
        </div>

        <div class="field">
            <label for="authEmailID">
                <div class="field__title">Email</div>
                <input class="field__input" type="text" name="" id="authEmailID" />
            </label>
        </div>
        <div class="field">
            <label for="authPasswordID">
                <div class="field__title">Password</div>
                <input
                    class="field__input"
                    [attr.type]="passIsVisible ? 'text' : 'password'"
                    name=""
                    id="authPasswordID"
                />
                <svg-close-eye
                    *ngIf="!passIsVisible"
                    (click)="passIsVisible = !passIsVisible"
                    class="pass__eye close"
                ></svg-close-eye>
                <svg-open-eye
                    *ngIf="passIsVisible"
                    (click)="passIsVisible = !passIsVisible"
                    class="pass__eye open"
                ></svg-open-eye>
            </label>
        </div>
        <input class="button__submit" type="submit" value="Sign in" />

        <div class="field">
            <label class="label__checkbox" for="keepSignInID">
                <input type="checkbox" name="" id="keepSignInID" />
                <div class="check__text">Keep in system</div>
            </label>
        </div>

        <div class="field">
            <a [routerLink]="['/auth/forgotPassword']" class="forgotPassLink">Forgot password?</a>
        </div>

        <div class="bar"></div>

        <div class="field__flex">
            <div class="bottom__text">
                You`ve no acount?&nbsp; <a [routerLink]="['/auth/register']" class="bottom__link">Registration</a>
            </div>
        </div>
    </form>
</div>
