<div class="page__wrapper">
    <div class="auth__standalone">
        <div class="standalone__title">Sign in</div>

        <div class="field">
            <div class="field__title">Email</div>
            <input class="field__input" type="text" name="" id="" />
        </div>
        <div class="field">
            <div class="field__title">Password</div>
            <input class="field__input" type="password" name="" id="" />
        </div>
        <button class="button__sign">Sign in</button>
    </div>
</div>
