@import "vars";

.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #fff;
    border-radius: 10px;

    //

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    height: 130px;

    padding: 15px;
}

.modal__close__wrapper {
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;

    position: absolute;
    top: 8px;
    right: 8px;

    &:hover {
        background-color: #e0e7e8;

        & ::ng-deep svg {
            fill: black;
        }
    }
}

.confirm__text {
    font-family: $gFont;
    font-size: 0.8em;

    margin-bottom: 10px;
}

.buttons__wrapper {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

// svg components sizes

app-mo-close {
    width: 24px;
    height: 24px;
}
