<div class="task">
    <label class="check__label" for="plt1">
        <input class="hidden__checkbox" type="checkbox" name="" id="plt1" />

        <div class="custom__check">
            <app-mp-tick></app-mp-tick>
        </div>
    </label>
    <!-- checkbox label -->

    <div class="task__main">
        <div class="task__text">qwe</div>

        <div class="task__late">
            <app-mp-task-late></app-mp-task-late>

            <div class="task_late__text">15 Oct</div>
        </div>
    </div>

    <div class="icons__container">
        <app-mp-task-edit></app-mp-task-edit>

        <app-mp-task-schedule></app-mp-task-schedule>

        <app-mp-task-more></app-mp-task-more>
    </div>

    <app-mp-task-drag></app-mp-task-drag>

    <div class="bottom__bar"></div>
</div>
