@import "vars";

.task {
    display: flex;

    position: relative;

    &:hover {
        & .icons__container {
            display: flex;
        }

        & app-mp-task-drag {
            opacity: 1;
        }
    }
}

.check__label {
    margin: 10px 6px 0 0;
}

.hidden__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom__check {
    height: 18px;
    width: 18px;

    position: relative;

    border: 1px solid #808080;
    border-radius: 50%;

    cursor: pointer;

    &:hover {
        background-color: #ececec;

        & .plt__check__tick {
            display: block;
        }
    }
}

.task__main {
    width: 100%;

    padding: 11px 0;
    display: flex;
    flex-direction: column;
}

.task__text {
    font-family: $gFont;
    flood-color: #202020;
    font-size: 0.8em;

    margin-left: 2px;
}

.task__late {
    display: flex;
    align-items: center;

    margin-top: 5px;
}

.task_late__text {
    font-family: $gFont;
    font-size: 0.75em;
    margin-left: 2px;

    color: #d1453b;
}

.icons__container {
    display: flex;
    align-items: center;

    position: absolute;
    top: 7px;
    right: 0;

    display: none;
}

.bottom__bar {
    width: 100%;
    height: 1px;

    background-color: #f0f0f0;

    position: absolute;
    bottom: 0;
    right: 0;
}

// svg positions | sizes

app-mp-tick {
    width: 18px;
    height: 18px;

    position: absolute;
    top: -3px;
    left: -4px;

    // display: none;
}

app-mp-task-late {
    width: 12px;
    height: 12px;
}

app-mp-task-edit,
app-mp-task-schedule,
app-mp-task-more {
    width: 24px;
    height: 24px;

    margin: 0 4px;
}

app-mp-task-drag {
    width: 24px;
    height: 24px;

    position: absolute;
    top: 7px;
    left: -35px;

    opacity: 0;
}
