/* You can add global styles to this file, and also import other style files */
@import "colors";

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}
