<div class="main__place">
    <div *ngIf="type === 'list'" class="type__list">
        <app-view-header [title]="'Inbox'" [editableTitle]="false"></app-view-header>
        <!-- list header -->

        <!-- <app-list-task></app-list-task> -->

        <!-- <app-list-section></app-list-section> -->

        <!-- add task --- -->
        <app-add-task-label *ngIf="!__addNoSectionTask" [text]="'Add Task'" (click)="__addNoSectionTask = true"></app-add-task-label>
        <app-add-task *ngIf="__addNoSectionTask" (closeEvent)="__addNoSectionTask = false" (addTaskEvent)="(true)"></app-add-task>
        <!--  --- add task -->

        <app-list-add-section></app-list-add-section>
    </div>
    <!-- list -->

    <div *ngIf="type === 'table'" class="type__table">
        <app-view-header [title]="'Inbox'" [editableTitle]="true"></app-view-header>

        <div class="columns__wrapper">
            <app-table-column></app-table-column>
            <app-table-add-section [type]="'bar'"></app-table-add-section>
            <app-table-column></app-table-column>
            <app-table-add-section [type]="'panel'"></app-table-add-section>
        </div>
    </div>
    <!-- table -->
</div>
