<div class="main__place">
    <div *ngIf="type === 'list'" class="type__list">
        <app-list-header [title]="'Inbox'" [_editableTitle]="false"></app-list-header>
        <!-- list header -->

        <app-list-task></app-list-task>
        <app-list-task></app-list-task>
        <app-list-task></app-list-task>
        <app-list-task></app-list-task>
        <app-list-add-task></app-list-add-task>

        <app-list-sub-list></app-list-sub-list>
        <app-list-add-section></app-list-add-section>

        <app-list-sub-list></app-list-sub-list>

        <app-list-add-section></app-list-add-section>
    </div>
    <!-- list -->

    <div *ngIf="type === 'table'" class="type__table">
        <app-table-header [title]="'Inbox'" [editableTitle]="true"></app-table-header>

        <div class="columns__wrapper">
            <app-table-column></app-table-column>
            <app-table-add-section [type]="'bar'"></app-table-add-section>
            <app-table-column></app-table-column>
            <app-table-add-section [type]="'panel'"></app-table-add-section>
        </div>
    </div>
    <!-- table -->
</div>
