<div class="main">
    <div class="field">
        <div class="title">Auto accept invites</div>

        <div class="content _column">
            <div class="check__label">
                <ui-checkbox [label]="'On'"></ui-checkbox>
            </div>

            <div class="text _gray">Automatically accept invites from known collaborators.</div>
        </div>
    </div>

    <div class="field">
        <div class="title">Experimental features</div>

        <div class="content _column">
            <div class="check__label">
                <ui-checkbox [label]="'Off'"></ui-checkbox>
            </div>

            <div class="text _gray">Preview early versions of new features before anyone else.</div>
        </div>
    </div>
</div>
