<div class="main">
    <div class="field">
        <div class="title">Auto accept invites</div>

        <div class="content _column">
            <label class="check__label" for="">
                <input class="input__check" type="checkbox" id="" />
                <div class="check__text">On</div>
            </label>

            <div class="text _gray">Automatically accept invites from known collaborators.</div>
        </div>
    </div>

    <div class="field">
        <div class="title">Experimental features</div>

        <div class="content _column">
            <label class="check__label" for="">
                <input class="input__check" type="checkbox" id="" />
                <div class="check__text">Off</div>
            </label>

            <div class="text _gray">Preview early versions of new features before anyone else.</div>
        </div>
    </div>
</div>
