<div *ngIf="project$ | async as project" class="main__place">
    <div *ngIf="project.type === 'LIST'" class="type__list">
        <app-view-header [title]="project.title" (titleEditEvent)="updateTitle($event)" (viewAsEvent)="updateType($event)"></app-view-header>
        <!-- list header -->

        <app-list-task *ngFor="let taskID of project.noSectionTasksID" [taskID]="taskID"></app-list-task>

        <!-- add task --- -->
        <app-add-task-label *ngIf="!addNoSecTask" [text]="'Add Task'" (click)="addNoSecTask = true"></app-add-task-label>
        <app-add-task *ngIf="addNoSecTask" [projectID]="project.id" (closeEvent)="addNoSecTask = false"></app-add-task>
        <!--  --- add task -->

        <app-list-section *ngFor="let sectionID of project.sectionsID" [sectionID]="sectionID" [projectID]="project.id"></app-list-section>

        <app-list-add-section [projectID]="project.id"></app-list-add-section>
    </div>
    <!-- list -->

    <div *ngIf="project.type === 'BOARD'" class="type__board">
        <app-view-header [title]="project.title" (titleEditEvent)="updateTitle($event)" (viewAsEvent)="updateType($event)"></app-view-header>

        <div class="columns__wrapper">
            <app-board-column
                *ngIf="project.noSectionTasksID?.length"
                [title]="'(No Section)'"
                [editableTitle]="false"
                [projectID]="project.id"
            ></app-board-column>

            <ng-container *ngFor="let sectionID of project.sectionsID; let i = index">
                <app-board-add-section
                    *ngIf="project.noSectionTasksID?.length || i !== 0"
                    [type]="'bar'"
                    [projectID]="project.id"
                ></app-board-add-section>
                <app-board-column [sectionID]="sectionID"></app-board-column>
            </ng-container>

            <app-board-add-section [type]="'panel'" [projectID]="project.id"></app-board-add-section>
        </div>
    </div>
    <!-- board -->
</div>
