<ng-container *ngIf="section$ | async as section; else noSectionColumn">
    <app-board-column-header [title]="section.title" [editableTitle]="editableTitle" (setTitleEvent)="updateTitle($event)"></app-board-column-header>

    <app-board-task *ngFor="let taskID of section.tasksID" [taskID]="taskID"></app-board-task>

    <app-add-task [sectionID]="sectionID" [projectID]="projectID"></app-add-task>
</ng-container>

<ng-template #noSectionColumn>
    <ng-container *ngIf="noSecTasksID$ | async as noSecTasksID">
        <app-board-column-header [title]="'(No Section)'" [editableTitle]="false"></app-board-column-header>

        <app-board-task *ngFor="let taskID of noSecTasksID" [taskID]="taskID"></app-board-task>

        <app-add-task [projectID]="projectID"></app-add-task>
    </ng-container>
</ng-template>
