<div class="modal" (click)="onCancel()">
    <div class="main" (click)="$event.stopPropagation()">
        <div class="header">
            <span>Add Filter</span>
            <div class="bottom__bar"></div>
        </div>

        <div class="content">
            <div class="field">
                <div class="label">Filter Name</div>
                <input class="input__text" type="text" />
            </div>

            <div class="field">
                <div class="label">Filter Query</div>
                <textarea class="input__textarea"></textarea>
            </div>

            <div class="field">
                <div class="label">Filter color</div>

                <div class="selected__color" (click)="isColorListActive = !isColorListActive">
                    <div [class]="'dot ' + colors[currentColorID].styleCls"></div>
                    <span class="color__text">{{ colors[currentColorID].name }}</span>
                </div>

                <div *ngIf="isColorListActive" class="color__list">
                    <div *ngFor="let color of colors; let i = index" class="color" (click)="setCurrentColorID(i)">
                        <div [class]="'dot ' + color.styleCls"></div>
                        <span class="color__text">{{ color.name }}</span>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="check__wrapper">
                    <ui-checkbox [id]="'addFavModalID'" [label]="'Add to favorites'"></ui-checkbox>
                </div>
            </div>

            <div class="bottom__bar"></div>
        </div>

        <div class="footer">
            <div class="footer__butt__wrapp">
                <ui-button styleCls="white mr10" (clickEvent)="onCancel()">Cancel</ui-button>
                <ui-button styleCls="black">Save</ui-button>
            </div>
        </div>
    </div>
</div>
